@page "/Ventas/Index";

@rendermode InteractiveServer
@inject VentasService ventasService;

<PageTitle>VentasIndex</PageTitle>

<div class="container">
    <span class="titulo">Ventas</span>
    <hr />

    @* Fecha *@
    <div class="row align-items-center pb-3">
        <div class="col-2">
            <label class="subtitulo">Desde:</label>
        </div>
        <div class="col-4">
            <div class="input-container" onclick="this.querySelector('input').showPicker()">
                <div class="img-container">
                    <img src="/VentasSVG/Calendar.svg" width="20" height="20" />
                </div>
                <input type="datetime-local" @bind-value="FechaDesde"/>
            </div>
        </div>
        <div class="col-2">
            <label class="subtitulo">Hasta:</label>
        </div>
        <div class="col-4">
            <div class="input-container" onclick="this.querySelector('input').showPicker()">
                <div class="img-container">
                    <img src="/VentasSVG/Calendar.svg" width="20" height="20" />
                </div>
                <input type="datetime-local" @bind-value="FechaHasta"/>
            </div>
        </div>
    </div>

    @* Hora 
    <div class="row align-items-center pb-3">
        <div class="col-2">
            <label class="subtitulo">Desde:</label>
        </div>
        <div class="col-4">
            <div class="input-container" onclick="this.querySelector('input').showPicker()">
                <div class="img-container">
                    <img src="/VentasSVG/Watch.svg" width="20" height="20" />
                </div>
                <input type="time" />
            </div>
        </div>
        <div class="col-2">
            <label class="subtitulo">Hasta:</label>
        </div>
        <div class="col-4">
            <div class="input-container" onclick="this.querySelector('input').showPicker()">
                <div class="img-container">
                    <img src="/VentasSVG/Watch.svg" width="20" height="20" />
                </div>
                <input type="time" />
            </div>
        </div>
    </div> *@

    @* Vendedor y metodo de pago *@
    <div class="row align-items-center pb-3">
        <div class="col-2">
            <label class="subtitulo">Vendedor:</label>
        </div>
        <div class="col-4">
            <div class="select-container">
                <div class="img-container">
                    <img src="/VentasSVG/Person.svg" width="20" height="20" />
                </div>
                <select>
                    <option>Juan Luis Guerra</option>
                    <option>Luis Fonsi</option>
                    <option>Laufei</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <label class="subtitulo">M&eacute;todo de pago:</label>
        </div>
        <div class="col-4">
            <div class="select-container">
                <div class="img-container">
                    <img src="/VentasSVG/PaymentMethod.svg" width="20" height="20" />
                </div>
                <select @bind="MetodoPagoSeleccionado">
                    <option value="">Todos</option>
                    @foreach (var metodo in Enum.GetValues(typeof(MetodosPago)))
                    {
                        <option value="@metodo">@metodo</option>
                    }
                </select>
            </div>
        </div>
    </div>

    @* Monto 
    <div class="row align-items-center pb-2">
        <div class="col-2">
            <label class="subtitulo">Monto:</label>
        </div>
        <div class="col-4">
            <div class="input-container">
                <div class="img-container">
                    <img src="/VentasSVG/MoneyBag.svg" width="20" height="20" />
                </div>
                <input type="number" value="0.00"/>
            </div>
        </div>
    </div> *@

    @* Registros mostrados y botones *@
    <div class="row align-items-center">
        <div class="col-8">
            <label class="subtitulo">Mostrando 3 de 3 ventas</label>
        </div>
        <div class="col-2">
            <button class="boton boton-aplicar" type="button" @onclick="Filtrar">Aplicar</button>
        </div>
        <div class="col-2">
            <button class="boton boton-restablecer" type="button" @onclick="Restablecer">Restablecer</button>
        </div>
    </div>

    @* Tabla de ventas *@
    <div class="table-responsive gradient-border-transparent">
        <table>
            <thead>
                <tr>
                    <th>C&oacute;digo</th>
                    <th>Fecha</th>
                    <th>Total venta</th>
                    <th>M&eacute;todo de pago</th>
                    <th>Vendedor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var venta in ListaVentas)
                {
                    <tr>
                        <td>@venta.VentaId</td>
                        <td>@venta.Fecha</td>
                        <td>$@venta.Total</td>
                        <td>@venta.MetodoPago</td>
                        <td>@venta.Vendedor</td>
                        <td>
                            <a class="boton boton-detalles" href="/Ventas/Detalles/@venta.VentaId">Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-center pt-3">
        <a class="boton boton-registrar" href="/Ventas/Create">Registrar venta</a>
    </div>
</div>

@code {
    public List<Ventas> ListaVentas { get; set; } = new List<Ventas>();
    public DateTime? FechaDesde { get; set; }
    public DateTime? FechaHasta { get; set; }
    private MetodosPago? MetodoPagoSeleccionado { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ListaVentas = await ventasService.Listar(v => v.VentaId > 0);
    }

    public async Task Filtrar()
    {
        Expression<Func<Ventas, bool>> criterio = v => v.VentaId > 0;
        if (FechaDesde.HasValue && FechaHasta.HasValue)
        {
            DateTime fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(v => v.Fecha >= FechaDesde.Value && v.Fecha <= fechaHasta);
        }
        else if (FechaDesde.HasValue)
        {
            criterio = criterio.And(v => v.Fecha >= FechaDesde.Value);
        }
        else if (FechaHasta.HasValue)
        {
            var fechaHasta = FechaHasta.Value.Date.AddDays(1).AddTicks(-1);
            criterio = criterio.And(e => e.Fecha <= fechaHasta);
        }

        // Filtro por método de pago (usando Enum)
        if (MetodoPagoSeleccionado.HasValue)
        {
            criterio = criterio.And(v => v.MetodoPago == MetodoPagoSeleccionado.Value);
        }

        ListaVentas = await ventasService.Listar(criterio);
    }

    private async Task Restablecer()
    {
        // Limpiar filtros
        FechaDesde = null;
        FechaHasta = null;
        MetodoPagoSeleccionado = null;

        ListaVentas = await ventasService.Listar(v => v.VentaId > 0);
    }
}
