@page "/Productos/Index"
@using ElectroHub.Components.Account.Pages
@using Microsoft.AspNetCore.Components.Sections
@rendermode InteractiveServer
@inject CategoriasService categoriasService
@inject ProveedoresService proveedoresService
@inject ProductosService productosService
@inject IJSRuntime JS

<PageTitle>Productos</PageTitle>
<div class="product-container" @onclick="()=> showAddModal = false">
    <nav>
        <span>Productos</span>
        <div class="modal-add-mobile" @onclick:stopPropagation="true">
            <svg @onclick="alternateModal" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#AA56D7"><path d="M450-120v-330H120v-60h330v-330h60v330h330v60H510v330h-60Z" /></svg>
            <div class="modal-add-options @(showAddModal ? "show" : "")" @onclick:stopPropagation="true">
                <ul>
                    <li @onclick="() => { showRegisterModal = true; showAddModal = false; }">Registra Productos</li>
                    <li @onclick="() => { showCategoryAdmModal = true; showAddModal = false; }">Administrar Categorías</li>
                </ul>
            </div>
        </div>
    </nav>
    <hr />

    @*Filtros*@
    <section class="filter-container">
        <section class="input-container">
            <div class="form-field">
                <input type="text" placeholder="Buscar Producto..." @oninput="Buscar"/>
            </div>

            <div class="select-container">
                <select class="form-field-select" @bind="Filtro">
                    <option value="">Seleccione Filtrar Por</option>
                    <option value="CodigoProducto">Código Producto</option>
                    <option value="Nombre">Nombre</option>
                    <option value="Categoria">Categoría</option>
                    <option value="Proveedor">Proveedor</option>
                    <option value="Estado">Estado</option>
                </select>
            </div>

            <!-- CONTENEDOR NUEVO -->
            <div class="date-group">
                <div class="form-field">
                    <input type="date" @bind="FechaInicial" @bind:after="AplicarFiltros"/>
                </div>
                <div class="form-field">
                    <input type="date" @bind="FechaFinal" @bind:after="AplicarFiltros" />
                </div>
            </div>
        </section>

        @*Botón Agregar*@
        <div class="modal-add" @onclick:stopPropagation="true">
            <svg @onclick="alternateModal" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#AA56D7"><path d="M450-120v-330H120v-60h330v-330h60v330h330v60H510v330h-60Z" /></svg>
            <div class="modal-add-options @(showAddModal ? "show" : "")">
                <ul>
                    <li @onclick="() => {showRegisterModal = true; showAddModal = false;}">Registra Productos</li>
                    <li @onclick="() => { showCategoryAdmModal = true; showAddModal = false; }">Administrar Categorías</li>
                </ul>
            </div>
        </div>
    </section>

    @*Tabla*@
    <section class="table-section">
        <div class="table-responsive table-containaer">
            <table class="gradient-border-transparent">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Stock Mímino</th>
                        <th>Proveedor</th>
                        <th>Categoría</th>
                        <th>Opción</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in ProductosPaginados)
                    {
                        <tr>
                            <td>@p.Nombre</td>
                            <td>@p.StockMinimo</td>
                            <td>@p.Proveedores?.NombreEmpresa</td>
                            <td>@p.Categorias?.Nombre</td>
                            <td>
                                <div class="btn-container-details" @onclick="() => GetProducto(p)">
                                    <img src="/ProductosSVG/InfoIcon.svg" alt="Ver Detalle" />
                                    <span>Ver Detalles</span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="pagination-container">
            <div class="pagination">
                <img src="/ProductosSVG/NavigationFlechas.svg" alt="Prev" @onclick="PaginaAnterior" disabled="@(paginaActual == 1)" class="@(paginaActual == 1 ? "opacity-25" : "opacity-100")" />
                <span>@paginaActual | @TotalPaginas</span>
                <img src="/ProductosSVG/RigthNav.svg" alt="Next" @onclick="PaginaSiguiente" disabled="@(paginaActual == TotalPaginas)" class="@(paginaActual == TotalPaginas ? "opacity-25" : "opacity-100")" />
            </div>
        </div>
    </section>
    
        
        


    @*Registro para Crear Producto*@
    <RegistroComponente @bind-Mostrar="showRegisterModal" Titulo="Registro Productos" OnCerrar="LimpiarCampos">
        <EditForm Model="NuevoProducto" OnValidSubmit="Guardar">
            <DataAnnotationsValidator />
            <div class="register-container">
                @FormularioProducto(NuevoProducto)
                <div class="register-save-container">
                    <img src="/ProductosSVG/Save.svg" alt="Ver Detalle" />
                    <button type="submit">Guardar</button>
                </div>
            </div>
        </EditForm>
    </RegistroComponente>

    @*Detalle Producto*@
    <DetalleComponente @bind-Mostrar="showDetailsModal" Titulo="Detalle Productos">
        <EditForm Model="ProductoEditar" OnValidSubmit="Modificar">
            <DataAnnotationsValidator />
            @FormularioProducto(ProductoEditar)
            <div class="button-container">
                <div class="register-save-container">
                    <img src="/ProductosSVG/Save.svg" alt="Guardar" />
                    <button type="submit">Guardar</button>
                </div>
                <div class="register-delete-container">
                    <img src="/ProductosSVG/Basurero.svg" alt="Eliminar" />
                    <button type="button" @onclick="() => showDeleteConfirmationModal = true">Eliminar</button>
                </div>
                
            </div>
        </EditForm>
    </DetalleComponente>

    @*Aministracion de Categorias*@
    <DetalleComponente @bind-Mostrar="showCategoryAdmModal" Titulo="Administración Categoría">
        <div>
            <section>
                <div class="form-field">
                    <input type="text" placeholder="Buscar Categoría..." @oninput="BuscarCategoria"/>
                </div>
            </section>
            <section class="scroll-inputs">
                <div class="button-add-category" @onclick:stopPropagation="true">
                    <svg @onclick="()=> {showAddCategoryModal = true; showCategoryAdmModal = false;}" xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="35px" fill="#AA56D7"><path d="M450-120v-330H120v-60h330v-330h60v330h330v60H510v330h-60Z" /></svg>
                </div>
                @foreach(var c in ListaCategorias)
                {
                    <div class="category-item">
                        <span>Nombre:</span>
                        <input @bind="@c.Nombre" disabled/>
                        <div class="category-icon-container">
                            <img @onclick="()=>GetCategoria(c)"  src="/ProductosSVG/InfoIcon.svg" alt="Ver Categoria" />
                            <img @onclick="() => GetCategoriaEliminar(c)" src="/ProductosSVG/Basurero.svg" alt="Eliminar Categoria" />
                        </div>
                    </div>
                }
                
            </section>
        </div>
    </DetalleComponente>

    <RegistroComponente Titulo="Registro Categoría" @bind-Mostrar="showAddCategoryModal">
        <EditForm Model="NuevaCategoria" OnValidSubmit="GuardarCategorias">
            <DataAnnotationsValidator />
            @FormularioCategoria(NuevaCategoria)
        </EditForm>
    </RegistroComponente>

    <DetalleComponente Titulo="Detalle Categoría" @bind-Mostrar="showCategoryDetailsModal">
        <EditForm Model="CategoriaEditar" OnValidSubmit="ModificarCategoria">
            <DataAnnotationsValidator />
            @FormularioCategoria(CategoriaEditar)
        </EditForm>
    </DetalleComponente>

    <ConfirmacionAgregadoComponente @bind-Mostrar="showCategoryAddedModal" Asunto="La Categoría" Nombre="@NuevaCategoria.Nombre" LimpiarObjeto="LimpiarCampos" />
    <ConfirmacionAgregadoComponente @bind-Mostrar="showProductAddedModal" Asunto="El Producto" Nombre="@NuevoProducto.Nombre" LimpiarObjeto="LimpiarCampos" />
    <ConfirmacionModificadoComponente @bind-Mostrar="showProductUpdatedConfirmationModal" Asunto="El Producto"  Nombre="@ProductoEditar.Nombre" LimpiarObjeto="LimpiarCampos" />
    <ConfirmacionModificadoComponente @bind-Mostrar="showCategoryUpdatedModal" Asunto="La Categoría" Nombre="@CategoriaEditar.Nombre" LimpiarObjeto="LimpiarCampos" />
    <AvisoEliminarComponente @bind-Mostrar="showDeleteConfirmationModal" Titulo="Producto" Nombre="@ProductoEditar.Nombre" Asunto="El Producto" >
        <div class="register-delete-container">
            <img src="/ProductosSVG/Basurero.svg" alt="Eliminar" />
            <button @onclick="EliminarProducto">Eliminar</button>
        </div>
    </AvisoEliminarComponente>
    <AvisoEliminarComponente @bind-Mostrar="showDeleteCategoryConfirmationModal" Titulo="Categoría" Nombre="@CategoriaEditar.Nombre" Asunto="La Categoría">
        <div class="register-delete-container">
            <img src="/ProductosSVG/Basurero.svg" alt="Eliminar" />
            <button @onclick="EliminarCategoria">Eliminar</button>
        </div>
    </AvisoEliminarComponente>
    <ErrorNotificacionComponente @bind-Mostrar="showErrorModal" Asunto="No puede Eliminar Categorías en Uso por Productos."/>
</div>

@code {
    // Modal para Crear
    private bool showAddModal = false;

    // Modales para los Producto
    private bool showRegisterModal = false, 
    showDetailsModal = false,
    showProductAddedModal = false, 
    showProductUpdatedConfirmationModal = false,
    showDeleteConfirmationModal = false;

    //Modales para las Categorias
    private bool showCategoryAddedModal = false,
    showCategoryUpdatedModal = false,
    showDeleteCategoryConfirmationModal = false,
    showCategoryAdmModal = false,
    showAddCategoryModal = false,
    showCategoryDetailsModal = false;

    //Modal de Error
    private bool showErrorModal = false;

    //Filtro para el rango de Fechas
    private DateTime? FechaInicial { get; set; }
    private DateTime? FechaFinal { get; set; }

    //Objetos y Listas
    // PRODUCTOS
    private Productos NuevoProducto { get; set; } = new Productos { FechaRegistro = DateTime.Now };
    private Productos ProductoEditar { get; set; } = new Productos();

    // CATEGORIAS
    private Categorias NuevaCategoria { get; set; } = new Categorias { FechaRegistro = DateTime.Now };
    private Categorias CategoriaEditar { get; set; } = new Categorias();

    public List<Categorias> ListaCategorias = new List<Categorias>();
    public List<Proveedores> ListaProveedore = new List<Proveedores>();
    public List<Productos> ListaProductos = new List<Productos>();

    //Filtro
    private string Filtro { get; set; } = string.Empty;
    private string textoBusqueda = "";

    //Pagination Valores
    private int paginaActual = 1;
    private int registrosPorPagina = 5;

    private int TotalPaginas =>
    (int)Math.Ceiling((double)ListaProductos.Count / registrosPorPagina);

    private IEnumerable<Productos> ProductosPaginados =>
        ListaProductos
            .Skip((paginaActual - 1) * registrosPorPagina)
            .Take(registrosPorPagina);

    //Funciones
    private void alternateModal() { showAddModal = !showAddModal; }

    protected override async Task OnInitializedAsync()
    {
        ListaCategorias = await categoriasService.Listar(c => c.Eliminado == false);
        ListaProveedore = await proveedoresService.Listar(p => p.Eliminado == false);
        ListaProductos = await productosService.Listar(p => p.Eliminado == false);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            int width = await JS.InvokeAsync<int>("getWindowWidth");
            int height = await JS.InvokeAsync<int>("getWindowHeight");
           
            int espacioFijo = 220;
            int altoDisponible = height - espacioFijo;

            int altoPorFila = 72;
            int filas = altoDisponible / altoPorFila;

            if (width < 576)
                registrosPorPagina = Math.Clamp(filas, 4, 7);
            else if (width < 768)
                registrosPorPagina = Math.Clamp(filas, 6, 9);
            else if (width < 992)
                registrosPorPagina = Math.Clamp(filas, 8, 12);
            else if (width < 1200)
                registrosPorPagina = Math.Clamp(filas, 4, 18);
            else
                registrosPorPagina = Math.Clamp(filas, 5, 25);
            StateHasChanged();
        }
    }

    private async Task LimpiarCampos(){ 
        NuevoProducto = new Productos { FechaRegistro = DateTime.Now };
        ProductoEditar = new Productos { FechaRegistro = DateTime.Now };
        NuevaCategoria = new Categorias { FechaRegistro = DateTime.Now };
        CategoriaEditar = new Categorias { FechaRegistro = DateTime.Now };
    }

    private async Task RefrescarLista(){ListaProductos = await productosService.Listar(p => p.Eliminado == false);}

    private async Task Guardar()
    {
        var creado = await productosService.Guardar(NuevoProducto);

        if (creado)
        {
            showRegisterModal = false;
            NuevoProducto = new Productos { FechaRegistro = DateTime.Now };
            ListaProductos = await productosService.Listar(p => p.Eliminado == false);
            showProductAddedModal = true;
        }
    }

    private async Task GuardarCategorias()
    {
        var creado = await categoriasService.Guardar(NuevaCategoria);

        if (creado)
        {
            showAddCategoryModal = false;
            NuevaCategoria = new Categorias { FechaRegistro = DateTime.Now };
            ListaCategorias = await categoriasService.Listar(c => c.Eliminado == false);
            showCategoryAddedModal = true;
        }
    }

    private async Task Modificar()
    {
        var actualizado = await productosService.Guardar(ProductoEditar);
        if (actualizado)
        {
            showDetailsModal = false;
            showProductUpdatedConfirmationModal = true;
            ListaProductos = await productosService.Listar(p => p.Eliminado == false);
        }
    }

    private async Task ModificarCategoria()
    {
        var creado = await categoriasService.Guardar(CategoriaEditar);
        if (creado)
        {
            showCategoryDetailsModal = false;
            ListaCategorias = await categoriasService.Listar(c => c.Eliminado == false);
            ListaProductos = await productosService.Listar(p => p.Eliminado == false);
            showCategoryUpdatedModal = true;
        }
    }

    private async Task EliminarProducto()
    {
        var eliminado = await productosService.Eliminar(ProductoEditar.ProductoId);
        if(eliminado)
        {
            ListaProductos = await productosService.Listar(p => p.Eliminado == false);
            showDeleteConfirmationModal = false;
            showDetailsModal = false;
            ProductoEditar = new Productos();
        }
    }

    private void GetCategoriaEliminar(Categorias c){
        CategoriaEditar = c;
        showDeleteCategoryConfirmationModal = true;
    }

    private async Task EliminarCategoria()
    {
        var eliminado = await categoriasService.Eliminar(CategoriaEditar.CategoriaId);

        if (eliminado)
        {
            ListaCategorias = await categoriasService.Listar(c => c.Eliminado == false);
            ListaProductos = await productosService.Listar(p => p.Eliminado == false);
            showDeleteCategoryConfirmationModal = false;
            CategoriaEditar = new Categorias();
        }
        else
        {
            showDeleteCategoryConfirmationModal = false;
            showErrorModal = true;
            CategoriaEditar = new Categorias();
        }
    }

    private void GetProducto(Productos p)
    {
        ProductoEditar = new Productos
        {
            ProductoId = p.ProductoId,
            CodigoProducto = p.CodigoProducto,
            Nombre = p.Nombre,
            Descripcion = p.Descripcion,
            CategoriaId = p.CategoriaId,
            PrecioCompra = p.PrecioCompra,
            PrecioVenta = p.PrecioVenta,
            CantidadInventario = p.CantidadInventario,
            StockMinimo = p.StockMinimo,
            ProveedorId = p.ProveedorId,
            EstadosProductos = p.EstadosProductos,
            FechaRegistro = p.FechaRegistro
        };

        showDetailsModal = true;
    }

    private void GetCategoria(Categorias c)
    {
        CategoriaEditar = new Categorias
        {
            CategoriaId = c.CategoriaId,
            Nombre = c.Nombre,
            Descripcion = c.Descripcion,
            FechaRegistro = c.FechaRegistro
        };

        showCategoryDetailsModal = true;
        showCategoryAdmModal = false;
    }

    public async Task Buscar(ChangeEventArgs e)
    {
        textoBusqueda = e.Value?.ToString() ?? "";
        await AplicarFiltros();
    }

    public async Task AplicarFiltros()
    {
        List<Productos> listadoFiltrado = await productosService.Listar(p => p.Eliminado == false && p.ProductoId > 0);

        if (FechaInicial.HasValue && FechaFinal.HasValue)
            listadoFiltrado = listadoFiltrado.Where(p => p.FechaRegistro >= FechaInicial && p.FechaRegistro <= FechaFinal).ToList();

        if (!string.IsNullOrWhiteSpace(textoBusqueda))
        {
            if (Filtro == "Nombre")
            {
                listadoFiltrado = listadoFiltrado.Where(p => p.Nombre != null && p.Nombre.Contains(textoBusqueda, StringComparison.OrdinalIgnoreCase)).ToList();
            }
            else if (Filtro == "CodigoProducto")
            {
                if (int.TryParse(textoBusqueda, out int Codigo))
                    listadoFiltrado = listadoFiltrado.Where(p => p.CodigoProducto == Codigo).ToList();
            }
            else if (Filtro == "Categoria")
            {
                listadoFiltrado = listadoFiltrado.Where(p => p.Categorias?.Nombre != null &&
                    p.Categorias.Nombre.Contains(textoBusqueda, StringComparison.OrdinalIgnoreCase)).ToList();
            }
            else if (Filtro == "Proveedor")
            {
                listadoFiltrado = listadoFiltrado.Where(p => p.Proveedores?.NombreEmpresa != null &&
                    p.Proveedores.NombreEmpresa.Contains(textoBusqueda, StringComparison.OrdinalIgnoreCase)).ToList();
            }
            else if (Filtro == "Estado") 
            {
                listadoFiltrado = listadoFiltrado.Where(p => p.EstadosProductos.ToString()
                    .Contains(textoBusqueda, StringComparison.OrdinalIgnoreCase)).ToList();
            }
        }
        ListaProductos = listadoFiltrado;
    }

    private async Task BuscarCategoria(ChangeEventArgs e)
    {
        var valor = e?.Value?.ToString();
        if (!string.IsNullOrWhiteSpace(valor))
            ListaCategorias = await categoriasService.Listar(c => c.Eliminado == false && c.Nombre.ToString().Contains(valor.ToString()));
        else
            ListaCategorias = await categoriasService.Listar(c => c.Eliminado == false);
    }

    private void PaginaAnterior()
    {
        if (paginaActual > 1)
            paginaActual--;
    }

    private void PaginaSiguiente()
    {
        if (paginaActual < TotalPaginas)
            paginaActual++;
    }

    private RenderFragment FormularioProducto(Productos productos) => __builder =>
    {
        <section class="edit-form-container">
            <div class="scroll-inputs">

                <div class="input-container-item">
                    <label>Código:</label>
                    <input type="number" @bind="productos.CodigoProducto" class="form-control" />
                </div>

                <div class="input-container-item">
                    <label>Nombre:</label>
                    <input type="text" @bind="productos.Nombre" class="form-control" />
                </div>

                <div class="input-container-item">
                    <label>Descripción:</label>
                    <input type="text" @bind="productos.Descripcion" class="form-control" />
                </div>

                <div class="input-container-item">
                    <label>Categoría:</label>
                    <select @bind="productos.CategoriaId" class="form-control">
                        <option value="0">Seleccione</option>
                        @foreach (var c in ListaCategorias)
                        {
                            <option value="@c.CategoriaId">@c.Nombre</option>
                        }
                    </select>
                </div>

                <div class="input-container-item">
                    <label>Precio Compra:</label>
                    <input type="number" @bind="productos.PrecioCompra" class="form-control" />
                </div>

                <div class="input-container-item">
                    <label>Precio Venta:</label>
                    <input type="number" @bind="productos.PrecioVenta" class="form-control" />
                </div>

                <div class="input-container-item">
                    <label>Cantidad:</label>
                    <input type="number" @bind="productos.CantidadInventario" class="form-control" />
                </div>

                <div class="input-container-item">
                    <label>Stock Mínimo:</label>
                    <input type="number" @bind="productos.StockMinimo" class="form-control" />
                </div>

                <div class="input-container-item">
                    <label>Proveedor:</label>
                    <select @bind="productos.ProveedorId" class="form-control">
                        <option value="0">Seleccione</option>
                        @foreach (var p in ListaProveedore)
                        {
                            <option value="@p.ProveedorId">@p.NombreEmpresa</option>
                        }
                    </select>
                </div>

                <div class="input-container-item">
                    <label>Estado:</label>
                    <select @bind="productos.EstadosProductos" class="form-control">
                        <option value="0">Seleccione</option>
                        @foreach (var e in Enum.GetValues<Estados>())
                        {
                            <option value="@e">@e</option>
                        }
                    </select>
                </div>

                <div class="input-container-item">
                    <label>Fecha:</label>
                    <input type="date" @bind="productos.FechaRegistro" class="form-control" />
                </div>

            </div>
        </section>
    };
    
    private RenderFragment FormularioCategoria(Categorias categorias) => __builder =>
    {
        <section class="category-form-container">
            <div class="form-inputs">

                <div>
                    <div class="input-container-item">
                        <label>Nombre:</label>
                        <input type="text" @bind="categorias.Nombre" class="form-control" />
                    </div>
                    <ValidationMessage For="() => categorias.Nombre" />
                </div>

                <div>
                    <div class="input-container-item">
                        <label>Descripción:</label>
                        <input type="text" @bind="categorias.Descripcion" class="form-control" />
                    </div>
                    <ValidationMessage For="() => categorias.Descripcion" />
                </div>

                <div>
                    <div class="input-container-item">
                        <label>Fecha:</label>
                        <input type="date" @bind="categorias.FechaRegistro" class="form-control" />
                    </div>
                    <ValidationMessage For="() => categorias.FechaRegistro" />
                </div>

            </div>

            <div class="register-save-container">
                <img src="/ProductosSVG/Save.svg" />
                <button type="submit">Guardar</button>
            </div>

        </section>
    };
}